@import '../core/Var.scss';

.form__filter {
  display: flex;
  justify-content: center;
  padding: 15px 0;
  &--name {
    font-family: $primary-font;
    font-size: 1.6rem;
    padding: 3px 7px 0;
    width: 60vw;
    height: 30px;
    border: 2px solid $nuclear-green;
    border-radius: 4px;
    &::placeholder{
      font-size: 1.6rem;
    }
    &:focus {
      border: 2px solid $nuclear-green;
    }
  }
}
