.header {
    height: 25vh;
    width: 100%;
    background-image: url(../../images/hero-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    

    /* &__img {
        align-items: center;
        max-width: 100%;
        height: auto;
        margin: auto;
    } */
}