.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 55px;
  &Btn {
    width: 80px;
    display: block;
    padding: 3px 9px;
    background-color: $nuclear-green;
    font-family: $primary-font;
    font-weight: bold;
    font-size: 1.2rem;
    border-radius: 5px;
    @media all and (min-width: 425px) {
      font-size: 1.6rem;
      padding: 5px 15px;
      width: 120px;
    }
    &:hover {
      cursor: pointer;
      background-color: $nuclear-green;
      color: $white;
      text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px $black;
    }
  }
  &Text {
    font-size: 1.2rem;
    font-weight: bold;
    color: $white;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px $black;
    @media all and (min-width: 425px) {
      font-size: 1.6rem;
    }
  }
}
