.character {
  &Card {
    &Link {
      align-self: center;
      font-size: 1.4rem;
      max-width: 280px;
      height: 100%;
      padding: 10px;
      border: 2px solid black;
      border-radius: 15px;
      background-color: black;
      text-decoration: none;
      color: white;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      gap: 5px;
      &:hover {
        color: $nuclear-green;
      }
      text-align: center;
    }
    &Image {
      pointer-events: none;
      width: 100%;
      max-width: 250px;
      height: auto;
      border-radius: 10px;
    }
    &Name {
      font-size: 1.8rem;
    }
    &Species {
      font-size: 1.6rem;
      display: inline-block;
      padding-left: 10px;
    }
    &Status {
      margin-left: 10px;
    }
  }
}
