.body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.95) 0.75%, rgba(0, 0, 0, 0.5)), url('./assets/images/background-lesser.gif');
    background-size: 250px;
    background-position: center;
    background-attachment: fixed;
    display: flex;
    min-height: 100vh;
    flex-flow: column nowrap;
  }